:root {
  --primary-dark: #4d69fd;
  --primary-light: #1c35c5;
  --secondary-dark: #ab47bc;
  --secondary-light: #ca3be4;
  --background-dark: #f5f5f5;
  --background-light: #f5f5f5;
  --text-dark: #f5f5f5;
  --info: #00acc1;
  --divider: #512da8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.coverBtn:hover {
  color: lightgrey;
}

.rounded {
  border-radius: 100%;
}

.climberBg {
  display: block;
}

@media (max-width: 600px) {
  .loading {
  font-size: 3em;
}
}
@media (min-width: 600px) and (max-width: 900px) {
  .loading {
  font-size: 4em;
}
}
@media (min-width: 900px) {
  .loading {
  font-size: 9em;
}
}

.dark img.svg, .dark .svg > svg {
  filter: hue-rotate(180deg) invert() contrast(90%)
}

body {
  overflow-x:hidden;
}